#mainTitleAddEdit {
    font-size: 1.5em;
}

#sectionNameInfo {
    font-weight: bold;
    font-size: 1em;
    margin: 20px 0;
}

#sectionNameRole {
    margin-bottom: 10px;
}

#memberForm #sectionNameInfo input {
    padding: 6px 12px;
    border: solid thin #e0e0e0;
    border-radius: 3px;
    width: calc(100% - 25px);
    margin: 5px 0;
}

#sectionNameRole div:first-of-type {
    font-weight: bold;
    font-size: 1em;
    margin: 20px 0;
}

#sectionNameRole label {
    font-size: 0.7em;
}

#memberForm #sectionNameRole input {
    float: right;
    width: auto !important;
}

#saveButton {
    position: absolute;
    right: 10px; bottom: 10px;
}

#saveButton input {
    width: 100%;
    background-color: #5f86fb;
    border: none;
    color: white;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 3px;
}

#saveButton input:hover {
    background-color: #3b6bfb;
}

#deleteButton {
    position: absolute;
    left: 10px; bottom: 10px;
    border: solid thin #ddd;
    padding: 6px 12px;
    font-size: 0.7em;
    border-radius: 3px;
}

#deleteButton:hover {
    background-color: #eee;
}

#deleteButton a {
    color: red;
}

#spaceSave {
    height: 30px;
}

/* errors */
ul.errorlist {
    color: red;
    font-size: 0.7em;
}