<!DOCTYPE html>

<html lang="en">
  
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>InstaTeam</title>
        <meta name='description' content='Team-member management application'>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'instateam/main.css' %}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/releases/v5.9.0/js/all.js" data-auto-replace-svg="nest"></script>
    </head>
    
    <body>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </body>

</html>