{% extends "instateam/base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'instateam/teammembers_list.css' %}">

    <div id="pageContent">

        <div id="addMemberButton"><a href="{% url 'team_members_create' %}">+</a></div>

        <div id="mainTitle">Team members</div>
            
        <div id="subTitle">You have {{ team_members.count }} team member{{ team_members.count|pluralize }}.</div>

            {% for member in team_members %}
            <a href="{% url 'team_members_update' member.pk %}">
                <hr>
                <div class="memberInfo">
                    <div class="memberAvatar"><i class="fas fa-user"></i></div>
                    <div class="memberContact">
                        {% if member.is_admin %}
                            <div class="memberName">{{member.get_fullname}} (admin)</div>
                        {% else %}
                            <div class="memberName">{{member.get_fullname}}</div>
                        {% endif %}
                        <div class="memberPhone">{{member.formatted_phone_national}}</div>
                        <div class="memberEmail">{{member.email}}</div>
                    
                    </div>
                </div>
            </a>
            {% endfor %}
            
            <hr>
    </div>

{% endblock %}