{% extends "instateam/base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'instateam/teammembers_cud.css' %}">

    <div id="pageContent">
        {% if teammember %}
            <div id="mainTitleAddEdit">Edit a team member</div>
            <div id="subTitle">Edit contact info and role.</div>
        {% else %}
            <div id="mainTitleAddEdit">Add a team member</div>
            <div id="subTitle">Set contact info and role.</div>
        {% endif %}

        <hr>

        <form method="post" id="memberForm">
            {% csrf_token %}
            <div id='sectionNameInfo'>
                <div>Info</div>
                {{form.first_name}}
                {{form.first_name.errors}}
                {{form.last_name}}
                {{form.last_name.errors}}
                {{form.email}}
                {{form.email.errors}}
                {{form.phone}}
                {{form.phone.errors}}
            </div>
            <div id='sectionNameRole'>
                <div>Role</div>
                {{form.role}}
            </div>
            <div id="spaceSave"></div>
            <div id="saveButton"><input type="submit" value="Save"></div>
        </form>
        {% if teammember %}
            <form method='post' action="{% url 'team_members_delete' teammember.pk %}">
                {% csrf_token %}
                <input id="deleteButton" type='submit' value='Delete'>
            </form>
        {% endif %}
    </div>

{% endblock %}